/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* map */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* editor */
@import 'react-quill/dist/quill.snow.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* lightbox */
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/captions.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

.react-grid-placeholder {
  background-color: rgba(0, 167, 111, 0.16) !important;
}

.fonts-loaded {
  font-family: 'Trebuchet MS', 'Roboto', 'Ubuntu', 'sans-serif';
  font-size: 13px;
  font-weight: 400;
}

.react-grid-placeholder {
  background-color: rgba(0, 167, 111, 0.16) !important;
}

#tv_chart_container,
#tv_chart_container iframe {
  height: 100% !important;
  width: 100%;
}

.grid-item__title {
  font-size: 14px;
  color: #fff;
  padding: 4px 0;
  text-align: center;
}
.grid-item__title:hover {
  cursor: move;
}
.grid-item__title .panel {
  box-shadow: none;
  border: none;
}
.grid-item__title .panel:focus {
  outline: none;
}
.grid-item__title .panel-heading {
  padding: 3px 0;
  background: #171819;
  border: none;
  color: rgba(255, 255, 255, 0.7);
}
.grid-item__title .panel-body {
  padding: 0 0 0 15px;
  background: #171819;
  color: rgba(255, 255, 255, 0.7);
}

.css-19r6kue-MuiContainer-root {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.css-1hjqebv:focus-visible {
  outline: none !important;
}

.css-1ebjqk4-MuiFormControl-root-MuiTextField-root:focus-visible {
  outline: none !important;
}

.css-1tu5hzz-MuiInputBase-root-MuiOutlinedInput-root:focus-visible:focus {
  outline: none !important;
  border: none !important;
}

.css-1tu5hzz-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border: none !important;
}

.css-1tu5hzz-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused {
  outline: none !important;

  border: none !important;
}
.css-1rsuhj8-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.symbol-table-card::-webkit-scrollbar {
  display: none !important;
}

.css-1ebjqk4-MuiFormControl-root-MuiTextField-root .MuiInputBase-root {
  border-radius: 0px !important;
  border: 0 !important;
  outline: none !important;
}

.css-1ebjqk4-MuiFormControl-root-MuiTextField-root .MuiInputBase-root:hover {
  outline: none !important;
  border: 0 !important;
}
.css-1ebjqk4-MuiFormControl-root-MuiTextField-root .MuiInputBase-root:focus {
  outline: none !important;
  border: 0 !important;
}
.css-1ebjqk4-MuiFormControl-root-MuiTextField-root .MuiInputBase-root:focus-visible {
  outline: none !important;
  border: 0 !important;
}
.css-bi3doy-MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: white !important;
}

/* .css-7ed3vs-MuiTableRow-root:last-of-type > * {
  background-color: white;
  border-right: 1px solid #e8e8e8 !important;
  border-bottom: 1px solid #e8e8e8 !important;
  font-size: 12px !important;
  color: black;
  font-weight: 300;
  padding: 3px 9px 3px 9px !important;
}
.css-287okb-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
} */
